body,
html {
    height: 100%;
}

//Font
body {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

h1 {
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size: 80px;
}

h2 {
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size: 36px;
}

h3 {
    font-family: 'Bebas Neue';
    font-weight: bold;
    font-size: 24px;
}

button {
    font-weight: bold;
    font-size: 16px;
    font-family: 'Bebas Neue';
}

//letter-spacing
$sizes: 1,
2,
3,
4,
5,
10,
15;

@each $size in $sizes {
    .ls-#{$size} {
        letter-spacing: #{$size + 'px'};
    }
}

//Content
nav {
    z-index: 999;
}

.home {
    background-image: url(/assets/main-bg.jpg);
    height: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    .content {
        padding-top: 52px;
        height: 100%;
    }

    .story {
        bottom: 0;
    }
}

.thegames {
    background-image: url(/assets/the-games-bg.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .special {
        top: 20%;
    }

    .carousel-indicators [data-bs-target] {
        height: 10px;
        width: 10px;
        border-radius: 50%;

        background-color: black;

    }

    .carousel-light .carousel-indicators [data-bs-target] {
        background-color: white;
    }

    .carousel-control-prev-icon {
        background-image: url(/assets/switch-left.svg);

    }

    .carousel-control-next-icon {
        background-image: url(/assets/switch-right.svg);
    }

    .carousel-control-prev {
        left: -65px;
    }

    .carousel-control-next {
        right: -65px;
    }
}

.features {
    background-image: url(/assets/features.jpg);
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    .special {
        top: 20%;
    }

    .tinggi {
        top: 50%;
        z-index: 999;
    }
}

.requirements {
    background-image: url(/assets/requirements.png);
    height: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    .spotlight {
        background-image: url(/assets/top-score-bg\(2\).png);
        height: 100%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(180deg);
    }

    .tinggi {
        top: 10%;
    }
        .konten{
            z-index: 999;
        }
}

.topscore {
    background-image: url(/assets/top-score-bg.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .spotlight {
        background-image: url(/assets/top-score-bg\(2\).png);
        height: 100%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        .tinggi {
            top: 40%;
        }
    }
}

.newsletter {
    background-image: url(/assets/newsletter.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}